#canvasDiv{
    position: relative;
    left: 40%;
}

#container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
}

p {
    line-height: 0.3;
    font-family : verdana;
    font-variant: small-caps;
    font-size: 13;
}

.HPbar
{
    color:#fff;
    background-color:#4CAF50
}

#replayBtn
{
    display: none;
}