<hmtl>
<head><link rel="stylesheet" type="text/css" href="index.css"></head>

<body>
<div id="canvasDiv">
    <div id="targetHP" class="HPbar" style="width:20%"></div>

    <canvas id="canvas" width="200" height="296">
            Your browser does not support the HTML canvas tag.
    </canvas>
    
    <div id="meHP" class="HPbar" style="width:20%"></div>

    <div>
        <p id="result"></p>
    </div>
    <button id="replayBtn" click="battle()">Play Again</button>
</div>
    
    <container id="container">

    </container>
    <script type="module" src="./main.js"></script>
    
</body>

</hmtl>
